@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraGO';
  src: url('path/to/font.woff2') format('woff2');
  font-display: swap; /* This will use a fallback until the font is loaded */
}

body {
  font-family: 'FiraGO', sans-serif;
}

.scroll-container {
  max-height: auto; /* Adjust the maximum height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f9f9f9;
  /* Additional styles for webkit browsers */
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: thin;  /* Hide scrollbar for Firefox */
}

/* Define scrollbar styles for webkit browsers (Chrome, Safari, etc.) */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 4px;
}

.category-scroll-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.category-scroll-content {
  width: 680px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
 
}

.category-scroll-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.category-scroll-content {
  scrollbar-width: none; /* For Firefox */
}

.category-scroll-content {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.category-scroll-item {
  flex: 0 0 auto;
  user-select: none;
}
