@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'FiraGO', sans-serif;
}

.scroll-container {
  max-height: auto; /* Adjust the maximum height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f9f9f9;
  /* Additional styles for webkit browsers */
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: thin;  /* Hide scrollbar for Firefox */
}

/* Define scrollbar styles for webkit browsers (Chrome, Safari, etc.) */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 4px;
}


.horizontal-scroll {
/* scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  display: flex;
  overflow-x: scroll; */
}

/* Individual scroll items */
.scroll-item {
  /* scroll-snap-align: start; */
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
  }



@keyframes shakeKeyframes {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the elements */
.blog-cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.blog-cart-item {
  width: 100%; /* Ensures each item takes up the full width of the grid cell */
}

@media (min-width: 768px) {
  .blog-cart-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns from 768px */
  }
}

@media (min-width: 1280px) {
  .blog-cart-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns from 1280px */
  }
}

@media (max-width: 1024px) {
  .blog-cart-grid {
    grid-template-columns: 1fr; /* Single column layout under 768px */
  }
}